@{
    Layout = "_SiteLayout.cshtml";
    Page.Title = "帮助中心";
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>帮助中心</h2>
</hgroup>

<article>
    <p>
        Use this area to provide additional information.
    </p>

    <p>
        Use this area to provide additional information.
    </p>

    <p>
        Use this area to provide additional information.
    </p>
</article>

<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li><a href="Default.cshtml">Home</a></li>
        <li><a href="About.cshtml">About</a></li>
        <li><a href="Contact.cshtml">Contact</a></li>
    </ul>
</aside>